rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      // User can modify their own doc. Others can only update friendRequests and friends.
      allow create, delete: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && (
        request.auth.uid == userId || 
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['friendRequests']) ||
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['friends'])
      );
    }
    
    match /groups/{groupId} {
      // allow read if user is in members array
      allow read: if request.auth != null && (resource == null || request.auth.uid in resource.data.members);
      // allow create if user sets themselves as owner and member
      allow create: if request.auth != null && request.resource.data.owner == request.auth.uid;
      // allow update if owner
      allow update, delete: if request.auth != null && resource.data.owner == request.auth.uid;
    }
    
    match /shared_habits/{habitId} {
      // User can only write their own shared habits
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.uid == request.auth.uid;
      
      // Anyone authenticated can read (we filter in UI/app logic by friends)
      allow read: if request.auth != null;
    }
  }
}
